<app-navbar></app-navbar>

<div class="container mx-auto p-6 max-w-4xl">
  <h1 class="text-4xl font-bold text-pink-600 text-center">Código Rosa: Tecnología e Innovación contra el Cáncer de Mama</h1>
</div>

<!-- Sección: Introducción -->
<div class="bg-gray-100 p-6 rounded-lg shadow-md max-w-4xl mx-auto mt-6">
  <p class="text-gray-700 text-lg leading-relaxed">
    Código Rosa es un proyecto impulsado por un equipo multidisciplinario de la Universidad Politécnica de Cataluña (UPC)
    y la Universidad Rey Juan Carlos (URJC). Nuestro objetivo es revolucionar la investigación del cáncer de mama mediante el uso de inteligencia artificial y modelos predictivos.
  </p>
</div>

<!-- Sección: Objetivo -->
<div class="p-6 border-t-4 border-pink-600 max-w-4xl mx-auto mt-6">
  <h2 class="text-2xl font-semibold text-pink-600">Nuestro Objetivo</h2>
  <p class="mt-4 text-gray-700 text-lg leading-relaxed">
    Buscamos mejorar la precisión en los diagnósticos, facilitar la detección temprana y personalizar los tratamientos mediante el uso de modelos
    de aprendizaje automático. Esto permitirá a los profesionales médicos tomar decisiones más rápidas y fundamentadas.
  </p>
</div>

<!-- Sección: Plataforma -->
<div class="bg-gray-100 p-6 rounded-lg shadow-md max-w-4xl mx-auto mt-6">
  <h2 class="text-2xl font-semibold text-pink-600">Una Plataforma Innovadora</h2>
  <p class="mt-4 text-gray-700 text-lg leading-relaxed">
    Estamos desarrollando una <strong>app de salud inteligente</strong> que combinará lo último en tecnología y ciencia para ofrecer soluciones más precisas, accesibles y personalizadas.
    Esta herramienta ayudará a médicos, investigadores y pacientes a mejorar los diagnósticos y tratamientos, proporcionando herramientas avanzadas de análisis de datos clínicos y genéticos.
  </p>
</div>

<!-- Sección: Equipo -->
<div class="p-6 border-t-4 border-pink-600 max-w-4xl mx-auto mt-6">
  <h2 class="text-2xl font-semibold text-pink-600 text-center">Nuestro Equipo</h2>
  <div class="grid grid-cols-1 md:grid-cols-2 gap-6 mt-6">
    <div class="bg-gray-100 p-4 rounded-lg shadow-md text-center">
      <img src="/foto1.png" alt="Lucía Domínguez Rodrigo" class="mx-auto rounded-full mb-2 max-w-[90px] max-h-[90px] object-cover">
      <h3 class="text-xl font-semibold text-gray-800">Lucía Domínguez Rodrigo</h3>
      <p class="text-gray-700 text-sm">Estudiante del doble grado de Ingeniería Informática e Ingeniería del Software.
      Apasionada del trabajo en equipo, y de las tecnologías y proyectos innovadores capaces de marcar un cambio</p>
      <a href="https://www.linkedin.com/in/luc%C3%ADa-dom%C3%ADnguez-rodrigo-418321289/" target="_blank" class="text-blue-600 underline block mt-2">LinkedIn</a>
    </div>
    <div class="bg-gray-100 p-4 rounded-lg shadow-md text-center">
      <img src="/foto" alt="foto" class="mx-auto rounded-full mb-2 max-w-[90px] max-h-[90px] object-cover">
      <h3 class="text-xl font-semibold text-gray-800">Ainhoa López Carrasco</h3>
      <p class="text-gray-700 text-sm">Descripcion</p>
      <a href="https://www.linkedin.com/in/ainhoa-l%C3%B3pez-carrasco-29b5b3317/" target="_blank" class="text-blue-600 underline block mt-2">LinkedIn</a>
    </div>
    <div class="bg-gray-100 p-4 rounded-lg shadow-md text-center">
      <img src="/foto2" alt="foto" class="mx-auto rounded-full mb-2 max-w-[90px] max-h-[90px] object-cover">
      <h3 class="text-xl font-semibold text-gray-800">
        Ikár Martínez de Lizarduy Kostornichenko
      </h3>
      <p class="text-gray-700 text-sm">Descripcion</p>
      <a href="https://www.linkedin.com/in/ikarmardeliz/" target="_blank" class="text-blue-600 underline block mt-2">LinkedIn</a>
    </div>
    <div class="bg-gray-100 p-4 rounded-lg shadow-md text-center">
      <img src="/foto2" alt="foto" class="mx-auto rounded-full mb-2 max-w-[90px] max-h-[90px] object-cover">
      <h3 class="text-xl font-semibold text-gray-800">Integrante 4</h3>
      <p class="text-gray-700 text-sm">Descripcion</p>
      <a href="https://www.linkedin.com/in/luc%C3%ADa-dom%C3%ADnguez-rodrigo-418321289/" target="_blank" class="text-blue-600 underline block mt-2">LinkedIn</a>
    </div>

    <div class="bg-gray-100 p-4 rounded-lg shadow-md text-center">
      <img src="/foto2" alt="foto" class="mx-auto rounded-full mb-2 max-w-[90px] max-h-[90px] object-cover">
      <h3 class="text-xl font-semibold text-gray-800">Integrante 5</h3>
      <p class="text-gray-700 text-sm">Descripcion</p>
      <a href="https://www.linkedin.com/in/luc%C3%ADa-dom%C3%ADnguez-rodrigo-418321289/" target="_blank" class="text-blue-600 underline block mt-2">LinkedIn</a>
    </div>
  </div>
</div>

<!-- Sección: Redes Sociales -->
<div class="p-6 border-t-4 border-pink-600 max-w-4xl mx-auto mt-6 text-center">
  <h2 class="text-2xl font-semibold text-pink-600">Síguenos en Redes Sociales</h2>
  <div class="mt-4">
    <a href="https://www.instagram.com" target="_blank" class="text-pink-600 text-xl font-bold">
      <i class="fab fa-instagram"></i> Instagram
      <a href="https://www.instagram.com/oncocoders?igsh=cDBjbmliN2hpbG9n " target="_blank" class="text-blue-600 underline block mt-2">¡Síguenos!</a>

    </a>
  </div>
</div>
<div class="h-16"></div> <!--espacio del final-->
