<div class="h-dvh ">
  <div class="container mx-auto p-6 max-w-4xl">
    <h1 class="text-4xl font-bold text-pink-600 text-center">Code Pink: Technology and Innovation against Breast Cancer</h1>
  </div>

  <!-- Sección: Introducción -->
  <div class="bg-gray-100 p-6 rounded-lg shadow-md max-w-4xl mx-auto mt-6">
    <p class="text-gray-700 text-lg leading-relaxed">
      Code Pink is a project driven by a <strong> multidisciplinary team</strong> from the  <strong>Polytechnic University of Catalonia</strong> (UPC)
      and the <strong>Rey Juan Carlos University</strong> (URJC). Our goal is to revolutionize breast cancer research through the use of artificial intelligence and predictive models.
    </p>
  </div>

  <!-- Sección: Objetivo -->
  <div class="p-6 border-t-4 border-pink-600 max-w-4xl mx-auto mt-6">
    <h2 class="text-2xl font-semibold text-pink-600">Our goal</h2>
    <p class="mt-4 text-gray-700 text-lg leading-relaxed">
      We aim to improve diagnostic accuracy, facilitate early detection, and personalize treatments through the use of machine learning models.
      This will enable medical professionals to make faster and more informed decisions.

    </p>
  </div>

  <!-- Sección: Plataforma -->
  <div class="bg-gray-100 p-6 rounded-lg shadow-md max-w-4xl mx-auto mt-6">
    <h2 class="text-2xl font-semibold text-pink-600">An Innovative Platform</h2>
    <p class="mt-4 text-gray-700 text-lg leading-relaxed">
      We are developing an <strong>smart health web app</strong> that will combine the latest in technology and science to offer more precise, accessible, and personalized solutions. This tool will help doctors, researchers, and patients im
      prove diagnoses and treatments by providing advanced clinical and genetic data analysis tools.
    </p>
  </div>

  <!-- Sección: Equipo -->
  <div class="p-6 border-t-4 border-pink-600 max-w-4xl mx-auto mt-6">
    <h2 class="text-2xl font-semibold text-pink-600 text-center">Our team</h2>
    <div class="grid grid-cols-1 md:grid-cols-2 gap-6 mt-6">
      <div class="bg-gray-100 p-4 rounded-lg shadow-md text-center">
        <img src="/fotoLucia.png" alt="Lucía Domínguez Rodrigo" class="mx-auto rounded-full mb-2 max-w-[90px] max-h-[90px] object-cover">
        <h3 class="text-xl font-semibold text-gray-800">Lucía Domínguez Rodrigo</h3>
        <p class="text-gray-700 text-sm">A Double Degree student in Computer Engineering and Software Engineering, passionate about teamwork and innovative technologies and projects that create a real impact. Stands out for having goals such as leading technology projects,
          managing multidisciplinary teams, and developing innovative solutions that make a difference.</p>
        <a href="https://www.linkedin.com/in/luc%C3%ADa-dom%C3%ADnguez-rodrigo-418321289/" target="_blank" class="text-blue-600 underline block mt-2">LinkedIn</a>
      </div>
      <div class="bg-gray-100 p-4 rounded-lg shadow-md text-center">
        <img src="/fotoAinhoa.jpeg" alt="foto" class="mx-auto rounded-full mb-2 max-w-[90px] max-h-[90px] object-cover">
        <h3 class="text-xl font-semibold text-gray-800">Ainhoa López Carrasco</h3>
        <p class="text-gray-700 text-sm">Bioinformatics Engineering student, focused on research and development of analysis and algorithms that drive the advancement of computational solutions to solve biological problems. Progress comes from the ability to think differently.</p>
        <a href="https://www.linkedin.com/in/ainhoa-l%C3%B3pez-carrasco-29b5b3317/" target="_blank" class="text-blue-600 underline block mt-2">LinkedIn</a>
      </div>
      <div class="bg-gray-100 p-4 rounded-lg shadow-md text-center">
        <img src="/fotoMarcos.jpeg" alt="foto" class="mx-auto rounded-full mb-2 max-w-[90px] max-h-[90px] object-cover">
        <h3 class="text-xl font-semibold text-gray-800">
          Marcos Jiménez Pulido
        </h3>
        <p class="text-gray-700 text-sm">Double Degree student in Computer Engineering and Software Engineering, passionate about programming and team management.
          Focused on strengthening his technical and leadership skills to develop innovative projects with impact..</p>
        <a href="https://www.linkedin.com/in/mjpulido/?originalSubdomain=es" target="_blank" class="text-blue-600 underline block mt-2">LinkedIn</a>
      </div>
      <div class="bg-gray-100 p-4 rounded-lg shadow-md text-center">
        <img src="/fotoGemma.png" alt="foto" class="mx-auto rounded-full mb-2 max-w-[90px] max-h-[90px] object-cover">
        <h3 class="text-xl font-semibold text-gray-800">Gemma Millán Zamora</h3>
        <p class="text-gray-700 text-sm">Estudiante de Ingeniería Bioinformática, interesada por la resolución de problemas biomédicos reales a través de herramientas informáticas. Busco impulsar descubrimientos que transformen la investigación científica y produzcan un cambio</p>
        <a href="https://www.linkedin.com/in/gemma-mill%C3%A1n-zamora-6bb57234b/" target="_blank" class="text-blue-600 underline block mt-2">LinkedIn</a>
      </div>

    </div>
  </div>


  <div class="p-6 border-t-4 border-pink-600 max-w-4xl mx-auto mt-6">
    <h2 class="text-2xl font-semibold text-pink-600 text-center">Our logo</h2>

    <!-- Sección: Plataforma -->
    <div class="bg-gray-100 p-6 rounded-lg shadow-md max-w-4xl mx-auto mt-6 flex items-center">

      <!-- Imagen del logo -->
      <div class="w-1/3 bg-gray-200 rounded-lg p-4 flex justify-center items-center">
        <img src="/oncocoders.png" alt="Logo" class="w-full h-full object-contain rounded-lg">
      </div>

      <!-- Texto -->
      <div class="w-2/3 pl-6">
        <p class="mt-4 text-gray-700 text-lg leading-relaxed">
          Our logo is a triangle, a powerful symbol representing the union of the three fundamental pillars in the fight against breast cancer: the patient, the doctor, and the researcher. This modern design embodies the progress of technology, highlighting the collaborative efforts that drive innovation and solutions. At the center of the triangle lies the focal point—the core of connection—where all these essential elements converge, working together toward a common goal: defeating breast cancer.
        </p>
      </div>
    </div>

    <!-- Créditos -->
    <div class="mt-6 text-center text-gray-700">
      <p class="text-xl font-semibold mb-2">Designed by</p>
      <p class="text-2xl font-bold text-pink-600">
        <a class="hover" target="_blank">Cecilia Reinosa Revelles</a>
      </p>
      <p class="text-sm text-gray-500 mt-2">Visit her <a href="https://www.linkedin.com/in/cecilia-reinosa-revelles-360421304/" class="text-pink-600 hover:underline" target="_blank">LinkedIn profile</a> for more amazing designs.</p>
    </div>
  </div>



  <!-- Sección: Redes Sociales -->
  <div class="p-6 border-t-4 border-pink-600 max-w-4xl mx-auto mt-6 text-center">
    <div class="p-6 border-t-4 border-pink-600 max-w-4xl mx-auto mt-6 bg-white rounded-lg shadow-lg text-center">
      <h2 class="text-2xl font-semibold text-pink-600">Follow us on social media!</h2>
      <div class="mt-4 text-gray-700">
        <p class="text-lg mb-4">You can follow the project and its progress on Instagram.

          <a href="https://www.instagram.com/oncocoders?igsh=cDBjbmliN2hpbG9n" target="_blank" class="text-pink-600 font-bold hover:underline">Follow us!</a>.
        </p>
      </div>
    </div>
  </div>




  <div class="h-16"></div> <!--espacio del final-->
</div>
