<article class="flex flex-col items-center gap-10 size-full p-10">
  <!-- LOGO -->
  <section class="size-96">
    <img class="size-full" src="./logo.png" alt="oncocoder_logo">
  </section>

  <!-- DESCRIPTION -->
  <section class="flex flex-col gap-4 items-center">
    <div class="bg-gray-100 p-6 rounded-lg shadow-md max-w-4xl mx-auto mt-6">
      <p class="text-gray-700 text-lg leading-relaxed">
        Código Rosa es un proyecto impulsado por un <strong>equipo multidisciplinario</strong> de la <strong>Universidad
          Politécnica de Cataluña</strong> (UPC)
        y la <strong>Universidad Rey Juan Carlos</strong> (URJC). Nuestro objetivo es revolucionar la investigación del
        cáncer de mama mediante el uso de inteligencia artificial y modelos predictivos.
      </p>
    </div>

    <div class="p-6 border-t-4 border-pink-600 max-w-4xl mx-auto mt-6">
      <h2 class="text-2xl font-semibold text-pink-600">Nuestro Objetivo</h2>
      <p class="mt-4 text-gray-700 text-lg leading-relaxed">
        Buscamos mejorar la precisión en los diagnósticos, facilitar la detección temprana y personalizar los tratamientos
        mediante el uso de modelos
        de aprendizaje automático. Esto permitirá a los profesionales médicos tomar decisiones más rápidas y
        fundamentadas.
      </p>
    </div>
  </section>

  <!-- GENERAL METRICS -->
  <section class="flex flex-col gap-4 items-center">
    <h2 class="text-xl font-bold mt-6">Resumen General</h2>
    <ngx-charts-bar-vertical [view]="view" [scheme]="colorScheme" [results]="single" [gradient]="false" [xAxis]="true"
      [yAxis]="true" [legend]="showLegend" [showDataLabel]="showLabels">
    </ngx-charts-bar-vertical>
  </section>

  <!-- ACTIONS -->
  <section class="flex flex-col gap-4 items-center">
    <h2 class="text-xl font-bold">Únete a nuestra iniciativa</h2>
    <div class="flex flex-row w-full justify-center gap-10">
      <app-actionbutton label="Registrarse" [action]="redirectToRegister"></app-actionbutton>
      <app-actionbutton label="Iniciar Sesión" [action]="redirectToLogin"></app-actionbutton>
    </div>
  </section>
</article>
