<section>
  <!-- TITLE -->
  <app-sectiontitle label="Dashboard" />

  <!-- DESCRIPTION -->
  <app-advice title="About Dashboard"
              text="This section contains a summary of the application metrics. They show the data obtained since the last update. That is, they are not real time data." />

  <!-- GRAPHICS -->
  <div class="bg-pink-50 p-6 rounded-lg shadow-md max-w-4xl mx-auto mt-6 flex flex-col w-full gap-5">
    <div>
      <h2 class="text-2xl font-semibold text-pink-600">Graphics </h2>
      <p class="mt-4 text-gray-700 text-lg leading-relaxed">
        The application metrics are shown below.
      </p>
    </div>

    <!-- Gráfica de Usuarios Baneados -->
    <div *ngIf = "isAdminUser">
      <h2 class="text-2xl font-semibold text-pink-600" >User banned graphic</h2>
      <p class="mt-4 text-gray-700 text-lg leading-relaxed">
      The graph shows the number of banned and unbanned users
      </p>
      <ngx-charts-pie-chart
        [view]="view"
        [results]="single"
        [legend]="showLegend"
        [labels]="showLabels"
        [explodeSlices]="explodeSlices"
        [doughnut]="doughnut">
      </ngx-charts-pie-chart>
    </div>

    <!-- Espaciado entre gráficas -->
    <div class="h-10"></div>



    <div class="flex flex-col gap-3 w-full max-w-2xl mx-auto" *ngIf="!isAdminUser">
      <img ngSrc="/graficamedico1.jpeg" alt="Gráfica 2"
           class="w-full h-96 rounded-lg shadow-lg object-cover" height="802" width="1600">
      <p class="text-center text-gray-600 text-lg">Graphic Nº1.</p>
    </div>

    <div class="flex flex-col gap-3 w-full max-w-2xl mx-auto" *ngIf="!isAdminUser">
      <img ngSrc="/graficamedico2.jpeg" alt="Gráfica 3"
           class="w-full h-96 rounded-lg shadow-lg object-cover" height="802" width="1600">
      <p class="text-center text-gray-600 text-lg">Graphic Nº2.</p>
    </div>

    <div class="flex flex-col gap-3 w-full max-w-2xl mx-auto" *ngIf="!isAdminUser">
      <img ngSrc="/graficamedico3.jpeg" alt="Gráfica 3"
           class="w-full h-96 rounded-lg shadow-lg object-cover" height="802" width="1600">
      <p class="text-center text-gray-600 text-lg">Graphic Nº3.</p>
    </div>

    <div class="flex flex-col gap-3 w-full max-w-2xl mx-auto" *ngIf="!isAdminUser">
      <img ngSrc="/graficamedico3.jpeg" alt="Gráfica 3"
           class="w-full h-96 rounded-lg shadow-lg object-cover" height="802" width="1600">
      <p class="text-center text-gray-600 text-lg">Graphic Nº4.</p>
    </div>
    <div class="flex flex-col gap-3 w-full max-w-2xl mx-auto" *ngIf="!isAdminUser">
      <img ngSrc="/graficamedico4.jpeg" alt="Gráfica 3"
           class="w-full h-96 rounded-lg shadow-lg object-cover" height="802" width="1600">
      <p class="text-center text-gray-600 text-lg">Graphic Nº5.</p>
    </div>

    <div class="flex flex-col gap-3 w-full max-w-2xl mx-auto" *ngIf="!isAdminUser">
      <img ngSrc="/graficamedico5.jpeg" alt="Gráfica 3"
           class="w-full h-100 rounded-lg shadow-lg object-cover" height="802" width="1600">
      <p class="text-center text-gray-600 text-lg">Graphic Nº6.</p>
    </div>

    <div class="flex flex-col gap-3 w-full max-w-2xl mx-auto" *ngIf="!isAdminUser">
      <img ngSrc="/graficamedico6.jpeg" alt="Gráfica 3"
           class="w-full h-100 rounded-lg shadow-lg object-cover" height="802" width="1600">
      <p class="text-center text-gray-600 text-lg">Graphic Nº7.</p>
    </div>

    <div class="flex flex-col gap-3 w-full max-w-2xl mx-auto" *ngIf="!isAdminUser">
      <img ngSrc="/graficamedico7.jpeg" alt="Gráfica 3"
           class="w-full h-100 rounded-lg shadow-lg object-cover" height="802" width="1600">
      <p class="text-center text-gray-600 text-lg">Graphic Nº8.</p>
    </div>


  </div>
  <div class ="h-16"></div>
</section>
