<form #userForm="ngForm" (ngSubmit)="enviarFormulario()" class="h-dvh container mx-auto p-6 max-w-4xl">
  <h1 class="text-4xl font-bold text-pink-600 text-center">Formulario de Datos Clínicos</h1>

  <div class="bg-gray-100 p-6 rounded-lg shadow-md max-w-4xl mx-auto mt-6">
    <h2 class="text-2xl font-semibold text-pink-600">Datos del paciente</h2>
    <div class="bg-white p-4 rounded-lg shadow mt-4">
      <label class="block text-gray-700 font-semibold">Indique el email del paciente</label>
      <input type="email" name="patientEmail" [(ngModel)]="formData.patientEmail" class="w-full p-2 border rounded-lg">
    </div>
  </div>

  <!-- Sección 1: Datos Demográficos -->
  <div class="bg-gray-100 p-6 rounded-lg shadow-md max-w-4xl mx-auto mt-6">
    <h2 class="text-2xl font-semibold text-pink-600">Datos Demográficos</h2>

    <!-- Edad -->
    <div class="bg-white p-4 rounded-lg shadow mt-4">
      <label class="block text-gray-700 font-semibold">¿Cuántos años tiene el paciente?</label>
      <select class="w-full p-2 border rounded-lg" [(ngModel)]="formData.edad" name="edad">
        <option value="Menos de 20 años">Menos de 20 años</option>
        <option value="21-30 años">21-30 años</option>
        <option value="31 - 40 años">31 - 40 años</option>
        <option value="41 - 50 años">41 - 50 años</option>
        <option value="51 - 60 años">51 - 60 años</option>
        <option value="61-70 años">61-70 años</option>
        <option value="Más de 70 años">Más de 70 años</option>
      </select>
    </div>

    <!-- Etnia -->
    <div class="bg-white p-4 rounded-lg shadow mt-4">
      <label class="block text-gray-700 font-semibold">¿Cuál es la etnia del paciente?</label>
      <select class="w-full p-2 border rounded-lg" [(ngModel)]="formData.etnia" name="etnia">
        <option value="Hispanico">Hispánico</option>
        <option value="Blanco">Blanco</option>
        <option value="Negro">Afrodescendiente</option>
        <option value="Asiatico">Asiático</option>
        <option value="Nativo">Nativo</option>
        <option value="Multi-hetnico">Multi-hétnico</option>
        <option value="Hawaiano">Hawaiano</option>
        <option value="Indio-Americano">Indio-Americano</option>
      </select>
    </div>

    <!-- Edad Menstruación -->
    <div class="bg-white p-4 rounded-lg shadow mt-4">
      <label class="block text-gray-700 font-semibold">¿A qué edad tuvo su primera menstruación?</label>
      <select class="w-full p-2 border rounded-lg" [(ngModel)]="formData.edadMenstruacion" name="edadMenstruacion">
        <option value="Antes de los 12 años">Antes de los 12 años</option>
        <option value="12-14 años">12-14 años</option>
        <option value="15 o más años">15 o más años</option>
      </select>
    </div>

    <!-- Edad Menopausia -->
    <div class="bg-white p-4 rounded-lg shadow mt-4">
      <label class="block text-gray-700 font-semibold">¿A qué edad comenzó el paciente la menopausia?</label>
      <select class="w-full p-2 border rounded-lg" [(ngModel)]="formData.edadMenopausia" name="edadMenopausia">
        <option value="Antes de los 45 años">Antes de los 45 años</option>
        <option value="Después de los 55 años">Después de los 55 años</option>
        <option value="No aplica">No aplica</option>
      </select>
    </div>



    <div class="bg-white p-4 rounded-lg shadow mt-4">
      <label class="block text-gray-700 font-semibold">Si aplica, ¿Cuántos familiares diagnosticados con cáncer de mama tiene el paciente?</label>
      <input type="number" name="estadoMitotico" [(ngModel)]="formData.familiaresDiagnosticados" class="w-full p-2 border rounded-lg">
    </div>

    <div class="bg-white p-4 rounded-lg shadow mt-4">
      <label class="block text-gray-700 font-semibold">¿El paciente ha recibido radioterapia en la zona del pecho por otros motivos médicos previos?</label>
      <select class="w-full p-2 border rounded-lg" [(ngModel)]="formData.radioterapiaAnterior" name="estructuraTubular">
        <option value="Sí">Sí</option>
        <option value="No">No</option>
      </select>
    </div>

    <div class="bg-white p-4 rounded-lg shadow mt-4">
      <label class="block text-gray-700 font-semibold">Actualmente, ¿El paciente padece de cáncer de mama?</label>
      <select class="w-full p-2 border rounded-lg" [(ngModel)]="formData.cancerMama" name="estructuraTubular">
        <option value="Sí">Sí</option>
        <option value="No">No</option>
      </select>
    </div>
  </div>




  <!-- Sección 2: Estado Hormonal -->
  <div class="bg-gray-100 p-6 rounded-lg shadow-md max-w-4xl mx-auto mt-6">
    <h2 class="text-2xl font-semibold text-pink-600">Estado Hormonal</h2>

    <!-- Hormona ER -->
    <div class="bg-white p-4 rounded-lg shadow mt-4">
      <label class="block text-gray-700 font-semibold">¿Es positiva la hormona ER?</label>
      <div class="flex gap-4">
        <label><input type="radio" name="hormonaER" [(ngModel)]="formData.hormonaER" value="Positivo">Positivo</label>
        <label><input type="radio" name="hormonaER" [(ngModel)]="formData.hormonaER" value="Negativo">Negativo</label>
      </div>
    </div>

    <!-- Hormona PR -->
    <div class="bg-white p-4 rounded-lg shadow mt-4">
      <label class="block text-gray-700 font-semibold">¿Es positiva la hormona PR?</label>
      <div class="flex gap-4">
        <label><input type="radio" name="hormonaPR" [(ngModel)]="formData.hormonaPR" value="Positivo">Positivo</label>
        <label><input type="radio" name="hormonaPR" [(ngModel)]="formData.hormonaPR" value="Negativo">Negativo</label>
      </div>
    </div>

    <!-- Hormona HER2 -->
    <div class="bg-white p-4 rounded-lg shadow mt-4">
      <label class="block text-gray-700 font-semibold">¿Es positiva la hormona HER2?</label>
      <div class="flex gap-4">
        <label><input type="radio" name="hormonaHER2" [(ngModel)]="formData.hormonaHER2" value="Positivo">Positivo</label>
        <label><input type="radio" name="hormonaHER2" [(ngModel)]="formData.hormonaHER2" value="Negativo">Negativo</label>
        <label><input type="radio" name="hormonaHER2" [(ngModel)]="formData.hormonaHER2" value="Frontera">Frontera</label>
      </div>
    </div>

    <!-- Subtipo Molecular -->
    <div class="bg-white p-4 rounded-lg shadow mt-4">
      <label class="block text-gray-700 font-semibold">Subtipo molecular del cáncer</label>
      <select class="w-full p-2 border rounded-lg" [(ngModel)]="formData.subtipoMolecular" name="subtipoMolecular">
        <option value="ER_PR_HER2">ER_PR_HER2</option>
        <option value="HER2">HER2</option>
        <option value="Luminal-like">Luminal like</option>
        <option value="Triple Negativo">Triple Negativo</option>
      </select>
    </div>
  </div>

  <!-- Sección 3: Tumor y Diagnóstico -->
  <div class="bg-gray-100 p-6 rounded-lg shadow-md max-w-4xl mx-auto mt-6">
    <h2 class="text-2xl font-semibold text-pink-600">Tumor y Diagnóstico</h2>

    <!-- Tamaño del Tumor -->
    <!-- Capacidad Estado Miotico -->
    <div class="bg-white p-4 rounded-lg shadow mt-4">
      <label class="block text-gray-700 font-semibold">Tamaño del tumor</label>
      <input type="number" name="estadoMitotico" [(ngModel)]="formData.tamannioTumor" class="w-full p-2 border rounded-lg">
    </div>

    <!-- Estructura Tubular -->
    <div class="bg-white p-4 rounded-lg shadow mt-4">
      <label class="block text-gray-700 font-semibold">Estructura tubular</label>
      <select class="w-full p-2 border rounded-lg" [(ngModel)]="formData.estructuraTubular" name="estructuraTubular">
        <option value="diferencia_moderada">Diferencia moderada</option>
        <option value="poca_diferencia">Diferencia pequeña</option>
        <option value="gran_diferencia">Gran diferencia</option>
      </select>
    </div>

    <!-- Estructura Tubular -->
    <div class="bg-white p-4 rounded-lg shadow mt-4">
      <label class="block text-gray-700 font-semibold">Estado miótico</label>
      <select class="w-full p-2 border rounded-lg" [(ngModel)]="formData.capacidadEstadoMiotico" name="estructuraTubular">
        <option value="diferencia_moderada">Diferencia moderada</option>
        <option value="poca_diferencia">Diferencia pequeña</option>
        <option value="gran_diferencia">Gran diferencia</option>
      </select>
    </div>

    <!-- Estructura Tubular -->
    <div class="bg-white p-4 rounded-lg shadow mt-4">
      <label class="block text-gray-700 font-semibold">Estructura general</label>
      <select class="w-full p-2 border rounded-lg" [(ngModel)]="formData.estructuraGeneral" name="estructuraTubular">
        <option value="diferencia_moderada">Diferencia moderada</option>
        <option value="poca_diferencia">Diferencia pequeña</option>
        <option value="gran_diferencia">Gran diferencia</option>
      </select>
    </div>

    <!-- Estructura Tubular -->
    <div class="bg-white p-4 rounded-lg shadow mt-4">
      <label class="block text-gray-700 font-semibold">¿Presenta alguna alteración/mutación en el gen BRCA1?</label>
      <select class="w-full p-2 border rounded-lg" [(ngModel)]="formData.mutacionBRCA1" name="estructuraTubular">
        <option value="Positivo">Positivo</option>
        <option value="Negativo">Negativo</option>
      </select>
    </div>

    <!-- Estructura Tubular -->
    <div class="bg-white p-4 rounded-lg shadow mt-4">
      <label class="block text-gray-700 font-semibold">¿Presenta alguna alteración/mutación en el gen BRCA2?</label>
      <select class="w-full p-2 border rounded-lg" [(ngModel)]="formData.mutacionBRCA2" name="estructuraTubular">
        <option value="Positivo">Positivo</option>
        <option value="Negativo">Negativo</option>
      </select>
    </div>



  </div>

  <!-- Botón de Enviar -->
  <button type="submit" class="bg-pink-600 text-white p-4 rounded-lg w-full mt-6">Enviar Formulario</button>
  <div class ="h-16"></div>
</form>

