<app-sectiontitle label="Upload Model Files"></app-sectiontitle>

<div class="upload-container bg-gray-100 p-6 rounded-lg shadow-md max-w-4xl mx-auto mt-6">
  <h3 class="text-xl font-semibold text-pink-600">Upload Model Files</h3>
  <p class="text-gray-700 text-lg mb-4">Select an Excel file and choose a model to upload.</p>

  <div class="bg-white p-6 rounded-lg shadow-lg">
    <label class="block text-lg font-medium text-gray-700">Choose a Model:</label>
    <select [(ngModel)]="selectedModel" class="w-full p-2 mt-2 rounded border border-gray-300 focus:ring-2 focus:ring-pink-400">
      <option value="modelo_1">Model 1</option>
      <option value="modelo_2">Model 2</option>
      <option value="modelo_3">Model 3</option>
      <option value="modelo_4">Model 4</option>
    </select>

    <label class="block text-lg font-medium text-gray-700 mt-4">Upload File:</label>
    <input type="file" (change)="onFileSelected($event)" class="w-full p-2 mt-2 rounded border border-gray-300 bg-white focus:ring-2 focus:ring-pink-400">

    <div class="mt-4 flex justify-between">
      <button (click)="uploadFile()" class="text-white bg-pink-700 hover:bg-pink-800 px-4 py-2 rounded">
        Upload File
      </button>
    </div>
  </div>

  <div *ngIf="uploadMessage" class="mt-4 p-4 rounded bg-gray-50 text-gray-700 border border-gray-300 shadow-inner">
    {{ uploadMessage }}
  </div>
</div>
<div class="h-16"></div>
