<form #userForm="ngForm" (ngSubmit)="enviarFormulario()" class="h-dvh container mx-auto p-6 max-w-4xl">
  <h1 class="text-4xl font-bold text-pink-600 text-center">Clinical Data Form</h1>

  <!-- Sección 1: Demográficas y Geográficas -->
  <div class="bg-gray-100 p-6 rounded-lg shadow-md max-w-4xl mx-auto mt-6">
    <h2 class="text-2xl font-semibold text-pink-600">Demographic and Geographical Information</h2>

    <div class="bg-white p-4 rounded-lg shadow mt-4">
      <label class="block text-gray-700 font-semibold">Do you have or have you had breast cancer?</label>
      <div class="flex gap-4">
        <label><input type="radio" name="cancer_mama" [(ngModel)]="formData.cancer_mama" value="Sí">Yes</label>
        <label><input type="radio" name="cancer_mama" [(ngModel)]="formData.cancer_mama" value="No">No</label>
      </div>
    </div>

    <div class="bg-white p-4 rounded-lg shadow mt-4">
      <label class="block text-gray-700 font-semibold">How old are you?</label>
      <select class="w-full p-2 border rounded-lg" [(ngModel)]="formData.edad" name="edad">
        <option value="Menos de 20 años">Less than 20 years</option>
        <option value="21-30 años">21-30 years</option>
        <option value="31 - 40 años">31 - 40 years</option>
        <option value="41 - 50 años">41 - 50 years</option>
        <option value="51 - 60 años">51 - 60 years</option>
        <option value="61-70 años">61-70 years</option>
        <option value="Más de 70 años">More than 70 years</option>
      </select>
    </div>

    <div class="bg-white p-4 rounded-lg shadow mt-4">
      <label class="block text-gray-700 font-semibold">What is your biological sex?</label>
      <div class="flex gap-4">
        <label><input type="radio" name="sexo" [(ngModel)]="formData.sexo" value="Masculino">Male</label>
        <label><input type="radio" name="sexo" [(ngModel)]="formData.sexo" value="Femenino">Female</label>
      </div>
    </div>

    <div class="bg-white p-4 rounded-lg shadow mt-4">
      <label class="block text-gray-700 font-semibold">Do you live in a rural, urban, or semi-urban area?</label>
      <div class="flex gap-4">
        <label><input type="radio" name="zona_vivienda" [(ngModel)]="formData.zona_vivienda" value="Rural">Rural</label>
        <label><input type="radio" name="zona_vivienda" [(ngModel)]="formData.zona_vivienda" value="Urbana">Urban</label>
        <label><input type="radio" name="zona_vivienda" [(ngModel)]="formData.zona_vivienda" value="Semiurbana">Semiurban</label>
      </div>
    </div>

    <div class="bg-white p-4 rounded-lg shadow mt-4">
      <label class="block text-gray-700 font-semibold">Do you have access to a specialized hospital or healthcare center?</label>
      <div class="flex gap-4">
        <label><input type="radio" name="hospital" [(ngModel)]="formData.hospital" value="Sí">Yes</label>
        <label><input type="radio" name="hospital" [(ngModel)]="formData.hospital" value="No">No</label>
      </div>
    </div>

    <div class="bg-white p-4 rounded-lg shadow mt-4">
      <label class="block text-gray-700 font-semibold">If you have access, how far is it?</label>
      <div class="flex gap-4">
        <label><input type="radio" name="dis_hospital" [(ngModel)]="formData.dis_hospital" value="Menos de 5km">Less than 5km</label>
        <label><input type="radio" name="dis_hospital" [(ngModel)]="formData.dis_hospital" value="5-15km">5-15km</label>
        <label><input type="radio" name="dis_hospital" [(ngModel)]="formData.dis_hospital" value="Más de 15km">More than 15km</label>
      </div>
    </div>
  </div>

  <!-- Sección 2: Síntomas y Signos Físicos -->
  <div class="bg-gray-100 p-6 rounded-lg shadow-md max-w-4xl mx-auto mt-6">
    <h2 class="text-2xl font-semibold text-pink-600">Symptoms and Physical Signs</h2>

    <div class="bg-white p-4 rounded-lg shadow mt-4">
      <label class="block text-gray-700 font-semibold">Have you noticed an unusual lump or mass in one or both breasts?</label>
      <div class="flex gap-4">
        <label><input type="radio" name="bulto" [(ngModel)]="formData.bulto" value="Sí">Yes</label>
        <label><input type="radio" name="bulto" [(ngModel)]="formData.bulto" value="No">No</label>
      </div>
    </div>

    <div class="bg-white p-4 rounded-lg shadow mt-4">
      <label class="block text-gray-700 font-semibold">Do you feel persistent pain in your breasts or armpits?</label>
      <div class="flex gap-4">
        <label><input type="radio" name="dolor_senos_axilas" [(ngModel)]="formData.dolor_senos_axilas" value="Sí" class="mr-2">Yes</label>
        <label><input type="radio" name="dolor_senos_axilas" [(ngModel)]="formData.dolor_senos_axilas" value="No" class="mr-2">No</label>
      </div>
    </div>

    <div class="bg-white p-4 rounded-lg shadow mt-4">
      <label class="block text-gray-700 font-semibold">If you experience pain, how would you classify it?</label>
      <div class="flex gap-4">
        <label><input type="radio" name="nivel_dolor" [(ngModel)]="formData.nivel_dolor" value="Leve">Mild</label>
        <label><input type="radio" name="nivel_dolor" [(ngModel)]="formData.nivel_dolor" value="Moderado">Moderate</label>
        <label><input type="radio" name="nivel_dolor" [(ngModel)]="formData.nivel_dolor" value="Severo">Severe</label>
      </div>
    </div>

    <div class="bg-white p-4 rounded-lg shadow mt-4">
      <label class="block text-gray-700 font-semibold">Have you noticed changes in the skin of your breasts, such as redness, swelling, or an orange peel texture?</label>
      <div class="flex gap-4">
        <label><input type="radio" name="cambios_hinchazon_piel_senos" [(ngModel)]="formData.cambios_hinchazon_piel_senos" value="Sí">Yes</label>
        <label><input type="radio" name="cambios_hinchazon_piel_senos" [(ngModel)]="formData.cambios_hinchazon_piel_senos" value="No">No</label>
      </div>
    </div>



    <div class="bg-white p-4 rounded-lg shadow mt-4">
      <label class="block text-gray-700 font-semibold">Have your nipples changed (retraction, abnormal discharge)?</label>
      <div class="flex gap-4">
        <label><input type="radio" name="pezones_rectacion_secrecion" [(ngModel)]="formData.pezones_rectacion_secrecion" value="Sí">Yes</label>
        <label><input type="radio" name="pezones_rectacion_secrecion" [(ngModel)]="formData.pezones_rectacion_secrecion" value="No">No</label>
      </div>
    </div>

    <div class="bg-white p-4 rounded-lg shadow mt-4">
      <label class="block text-gray-700 font-semibold">If you have noticed discharge, what type is it?</label>
      <div class="flex gap-4">
        <label><input type="radio" name="tipo_secrecion" [(ngModel)]="formData.tipo_secrecion" value="Leve">Mild</label>
        <label><input type="radio" name="tipo_secrecion" [(ngModel)]="formData.tipo_secrecion" value="Moderado">Moderate</label>
        <label><input type="radio" name="tipo_secrecion" [(ngModel)]="formData.tipo_secrecion" value="Severo">Severe</label>
      </div>
    </div>

    <div class="bg-white p-4 rounded-lg shadow mt-4">
      <label class="block text-gray-700 font-semibold"> Do you have swollen or painful lymph nodes in your armpits?
      </label>
      <div class="flex gap-4">
        <label><input type="radio" name="ganglios_inflamados_dolor" [(ngModel)]="formData.ganglios_inflamados_dolor" value="Sí" class="mr-2">Yes</label>
        <label><input type="radio" name="ganglios_inflamados_dolor" [(ngModel)]="formData.ganglios_inflamados_dolor" value="false" class="mr-2">No</label>
      </div>
    </div>

    <div class="bg-white p-4 rounded-lg shadow mt-4">
      <label class="block text-gray-700 font-semibold">Have you noticed unexplained weight loss in the past few days?
      </label>
      <div class="flex gap-4">
        <label><input type="radio" name="perdida_peso_inexplicada" [(ngModel)]="formData.perdida_peso_inexplicada" value="Sí" class="mr-2">Yes</label>
        <label><input type="radio" name="perdida_peso_inexplicada" [(ngModel)]="formData.perdida_peso_inexplicada" value="No" class="mr-2">No</label>
      </div>
    </div>

    <div class="bg-white p-4 rounded-lg shadow mt-4">
      <label class="block text-gray-700 font-semibold"> Have you experienced persistent fatigue or extreme tiredness without an apparent reason, especially in the past 7 days?
      </label>
      <div class="flex gap-4">
        <label><input type="radio" name="fatiga_persistente_cansancio_inexplicado" [(ngModel)]="formData.fatiga_persistente_cansancio_inexplicado" value="Sí" class="mr-2">Yes</label>
        <label><input type="radio" name="fatiga_persistente_cansancio_inexplicado" [(ngModel)]="formData.fatiga_persistente_cansancio_inexplicado" value="No" class="mr-2">No</label>
      </div>
    </div>

    <div class="bg-white p-4 rounded-lg shadow mt-4">
      <label class="block text-gray-700 font-semibold"> Have you had unexplained fever?
      </label>
      <div class="flex gap-4">
        <label><input type="radio" name="fiebre_inexplicada" [(ngModel)]="formData.fiebre_inexplicada" value="Sí" class="mr-2">Yes</label>
        <label><input type="radio" name="fiebre_inexplicada" [(ngModel)]="formData.fiebre_inexplicada" value="No" class="mr-2">No</label>
      </div>
    </div>

    <div class="bg-white p-4 rounded-lg shadow mt-4">
      <label class="block text-gray-700 font-semibold"> Do you have or have you had swelling in your arms or hands?
      </label>
      <div class="flex gap-4">
        <label><input type="radio" name="hinchazon_brazos_manos" [(ngModel)]="formData.hinchazon_brazos_manos" value="Sí" class="mr-2">Yes</label>
        <label><input type="radio" name="hinchazon_brazos_manos" [(ngModel)]="formData.hinchazon_brazos_manos" value ="No" class="mr-2">No</label>
      </div>
    </div>

    <div class="bg-white p-4 rounded-lg shadow mt-4">
      <label class="block text-gray-700 font-semibold"> Have you noticed changes in your appetite in the past few weeks?
      </label>
      <div class="flex gap-4">
        <label><input type="radio" name="cambio_apetito" [(ngModel)]="formData.cambio_apetito" value ="Sí" class="mr-2">Yes</label>
        <label><input type="radio" name="cambio_apetito" [(ngModel)]="formData.cambio_apetito" value="No" class="mr-2">No</label>
      </div>
    </div>

    <div class="bg-white p-4 rounded-lg shadow mt-4">
      <label class="block text-gray-700 font-semibold"> If you have noticed changes in your appetite, is it an increase or decrease?
      </label>
      <div class="flex gap-4">
        <label><input type="radio" name="cambio_apetito_tipo" [(ngModel)]="formData.cambio_apetito_tipo" value="Sí" class="mr-2">Yes</label>
        <label><input type="radio" name="cambio_apetito_tipo" [(ngModel)]="formData.cambio_apetito_tipo" value="No" class="mr-2">No</label>
      </div>
    </div>

    <div class="bg-white p-4 rounded-lg shadow mt-4">
      <label class="block text-gray-700 font-semibold"> Have you experienced bone or joint pain without an apparent cause in the days leading up to the diagnosis?
      </label>
      <div class="flex gap-4">
        <label><input type="radio" name="dolor_huesos_articulaciones_inexplicado" [(ngModel)]="formData.dolor_huesos_articulaciones_inexplicado" value="Sí" class="mr-2">Yes</label>
        <label><input type="radio" name="dolor_huesos_articulaciones_inexplicado" [(ngModel)]="formData.dolor_huesos_articulaciones_inexplicado" value="No" class="mr-2">No</label>
      </div>
    </div>

    <div class="bg-white p-4 rounded-lg shadow mt-4">
      <label class="block text-gray-700 font-semibold"> If you experience bone or joint pain, how would you rate it?
      </label>
      <div class="flex gap-4">
        <label><input type="radio" name="dolor_huesos_tipo" [(ngModel)]="formData.dolor_huesos_tipo" value="Lece" class="mr-2">Mild</label>
        <label><input type="radio" name="dolor_huesos_tipo" [(ngModel)]="formData.dolor_huesos_tipo" value="Moderado" class="mr-2">Moderate</label>
        <label><input type="radio" name="dolor_huesos_tipo" [(ngModel)]="formData.dolor_huesos_tipo" value="Severo" class="mr-2">Severe</label>
      </div>
    </div>

    <div class="bg-white p-4 rounded-lg shadow mt-4">
      <label class="block text-gray-700 font-semibold"> Do you experience excessive night sweats?
      </label>
      <div class="flex gap-4">
        <label><input type="radio" name="sudoracion_nocturna_excesiva" [(ngModel)]="formData.sudoracion_nocturna_excesiva" value="Sí" class="mr-2">Yes</label>
        <label><input type="radio" name="sudoracion_nocturna_excesiva" [(ngModel)]="formData.sudoracion_nocturna_excesiva" value="No" class="mr-2">No</label>
      </div>
    </div>
  </div>

  <!-- Sección 3: Diagnóstico y Antecedentes de Cáncer de Mama -->
  <div class="bg-gray-100 p-6 rounded-lg shadow-md max-w-4xl mx-auto mt-6">
    <h2 class="text-2xl font-semibold text-pink-600">Diagnosis and Medical History</h2>

    <div class="bg-white p-4 rounded-lg shadow mt-4">
      <label class="block text-gray-700 font-semibold">Have you been diagnosed with breast cancer previously?</label>
      <div class="flex gap-4">
        <label><input type="radio" name="diagnostico_previo" [(ngModel)]="formData.diagnostico_previo" value="Sí" class="mr-2">Yes</label>
        <label><input type="radio" name="diagnostico_previo" [(ngModel)]="formData.diagnostico_previo" value="No" class="mr-2">No</label>
      </div>
    </div>


    <div class="bg-white p-4 rounded-lg shadow mt-4">
      <label class="block text-gray-700 font-semibold">Do you have direct family members (mother, father, sisters, brothers, grandmothers, grandfathers) who have been diagnosed with breast cancer?</label>
      <div class="flex gap-4">
        <label><input type="radio" name="familiares_diagnosticados" [(ngModel)]="formData.familiares_diagnosticados" value="Sí" class="mr-2">Yes</label>
        <label><input type="radio" name="familiares_diagnosticados" [(ngModel)]="formData.familiares_diagnosticados" value="No" class="mr-2">No</label>
      </div>
    </div>

    <div class="bg-white p-4 rounded-lg shadow mt-4">
      <label class="block text-gray-700 font-semibold">
        If you have family members diagnosed, how many are there?
      </label>
      <input
        type="number"
        class="mt-2 p-2 border rounded w-full"
        [(ngModel)]="formData.num_familiares_diagnosticados"
        name="num_familiares_diagnosticados"
        min="0"
      />
    </div>

    <div class="bg-white p-4 rounded-lg shadow mt-4">
      <label class="block text-gray-700 font-semibold"> Are you currently undergoing treatment for breast cancer? </label>
      <div class="flex gap-4">
        <label><input type="radio" name="tratamiento_actualmente" [(ngModel)]="formData.tratamiento_actualmente" value="Sí" class="mr-2">Yes</label>
        <label><input type="radio" name="tratamiento_actualmente" [(ngModel)]="formData.tratamiento_actualmente"  value ="No" class="mr-2">No</label>
      </div>
    </div>


    <div class="bg-white p-4 rounded-lg shadow mt-4">
      <label class="block text-gray-700 font-semibold"> If you are receiving treatment, what type of treatment are you undergoing? </label>
      <div class="flex gap-4">
        <label><input type="radio" name="tipos_tratamiento" [(ngModel)]="formData.tipos_tratamineto" value="Quimioterapia" class="mr-2">Chemotherapy</label>
        <label><input type="radio" name="tipos_tratamiento" [(ngModel)]="formData.tipos_tratamineto" value="Radioterapia" class="mr-2">Radiotherapy</label>
        <label><input type="radio" name="tipos_tratamiento" [(ngModel)]="formData.tipos_tratamineto" value ="Cirugía" class="mr-2">Surgery</label>
        <label><input type="radio" name="tipos_tratamiento" [(ngModel)]="formData.tipos_tratamineto" value="Terapia Hormonal" class="mr-2">Hormonal therapy</label>
        <label><input type="radio" name="tipos_tratamiento" [(ngModel)]="formData.tipos_tratamineto" value="Otros" class="mr-2">Others</label>
      </div>
    </div>

    <div class="bg-white p-4 rounded-lg shadow mt-4">
      <label class="block text-gray-700 font-semibold"> Have you had any relapse or recurrence of breast cancer since your initial diagnosis? </label>
      <div class="flex gap-4">
        <label><input type="radio" name="recaida" [(ngModel)]="formData.recaidas" value= "Sí" class="mr-2">Yes</label>
        <label><input type="radio" name="recaida" [(ngModel)]="formData.recaidas" value= "No" class="mr-2">No</label>
      </div>
    </div>
  </div>

  <!-- Sección 4: Factores Hormonales y Reproductivos -->
  <div class="bg-gray-100 p-6 rounded-lg shadow-md max-w-4xl mx-auto mt-6">
    <h2 class="text-2xl font-semibold text-pink-600">Hormonal and Reproductive Factors</h2>

    <div class="bg-white p-4 rounded-lg shadow mt-4">
      <label class="block text-gray-700 font-semibold"> At approximately what age did you have your first menstruation?</label>
      <div class="flex gap-4">
        <label><input type="radio" name="primera_menstruacion" [(ngModel)]="formData.primera_menstruacion" value="Antes de los 12 años">Before 12</label>
        <label><input type="radio" name="primera_menstruacion" [(ngModel)]="formData.primera_menstruacion" value="Entre los 12-14 años">Between 12-14 </label>
        <label><input type="radio" name="primera_menstruacion" [(ngModel)]="formData.primera_menstruacion" value="Después de los 14 años">After 14 </label>
      </div>
    </div>

    <div class="bg-white p-4 rounded-lg shadow mt-4">
      <label class="block text-gray-700 font-semibold">At what age did you reach menopause (if applicable)?</label>
      <div class="flex gap-4">
        <label><input type="radio" name="edad_menopausia" [(ngModel)]="formData.edad_menopausia" value="Antes de los 45 años">Before 45 </label>
        <label><input type="radio" name="edad_menopausia" [(ngModel)]="formData.edad_menopausia" value="Después de los 45 años">After 45 </label>
        <label><input type="radio" name="edad_menopausia" [(ngModel)]="formData.edad_menopausia" value="Entre los 45 y los 55 años">Between 45 and 55 </label>
      </div>
    </div>

    <div class="bg-white p-4 rounded-lg shadow mt-4">
      <label class="block text-gray-700 font-semibold"> Have you had children? </label>
      <div class="flex gap-4">
        <label><input type="radio" name="hijos" [(ngModel)]="formData.hijos" value="Sí" class="mr-2">Yes</label>
        <label><input type="radio" name="hijos" [(ngModel)]="formData.hijos" value="No" class="mr-2">No</label>
      </div>
    </div>
    <div class="bg-white p-4 rounded-lg shadow mt-4">
      <label class="block text-gray-700 font-semibold"> Have you breastfed your children? (if applicable) </label>
      <div class="flex gap-4">
        <label><input type="radio" name="hijos_lactancia" [(ngModel)]="formData.hijos_lactancia" value="Sí" class="mr-2">Yes</label>
        <label><input type="radio" name="hijos_lactancia" [(ngModel)]="formData.hijos_lactancia" value="No" class="mr-2">No</label>
      </div>
    </div>

    <div class="bg-white p-4 rounded-lg shadow mt-4">
      <label class="block text-gray-700 font-semibold"> Have you used or are you using hormonal contraceptives for more than 5 years? </label>
      <div class="flex gap-4">
        <label><input type="radio" name="anticonceptivos_hormonales_5" [(ngModel)]="formData.anticonceptivos_hormonales_5" value="Sí" class="mr-2">Yes</label>
        <label><input type="radio" name="anticonceptivos_hormonales_5" [(ngModel)]="formData.anticonceptivos_hormonales_5" value="No" class="mr-2">No</label>
      </div>
    </div>

    <div class="bg-white p-4 rounded-lg shadow mt-4">
      <label class="block text-gray-700 font-semibold"> Have you received hormone replacement therapy after menopause? </label>
      <div class="flex gap-4">
        <label><input type="radio" name="terapia_remplazo_hormonal_postmenopausia" [(ngModel)]="formData.terapia_remplazo_hormonal_postmenopausia" value ="Sí" class="mr-2">Yes</label>
        <label><input type="radio" name="terapia_remplazo_hormonal_postmenopausia" [(ngModel)]="formData.terapia_remplazo_hormonal_postmenopausia" value ="No" class="mr-2">No</label>
      </div>
    </div>

  </div>

  <!-- Sección 5:estilo de vida -->
  <div class="bg-gray-100 p-6 rounded-lg shadow-md max-w-4xl mx-auto mt-6">
    <h2 class="text-2xl font-semibold text-pink-600">Lifestyle and Physical Activity</h2>

    <div class="bg-white p-4 rounded-lg shadow mt-4">
      <label class="block text-gray-700 font-semibold">Do you engage in physical activity regularly? </label>
      <div class="flex gap-4">
        <label><input type="radio" name="act_fisica" [(ngModel)] = "formData.act_fisica" value ="Sí" class="mr-2">Yes</label>
        <label><input type="radio" name="act_fisica" [(ngModel)] = "formData.act_fisica" value = "No" class="mr-2">No</label>
      </div>
    </div>

    <div class="bg-white p-4 rounded-lg shadow mt-4">
      <label class="block text-gray-700 font-semibold"> If the answer is yes, how often do you exercise?
      </label>
      <div class="flex gap-4">
        <label><input type="radio" name="frequencia_act_fisica" [(ngModel)] = "formData.frequencia_act_fisica" value ="1 vez a la semana" class="mr-2">Once a week</label>
        <label><input type="radio" name="frequencia_act_fisica" [(ngModel)] = "formData.frequencia_act_fisica" value ="2-4 veces a la semana" class="mr-2">2-4 times a week </label>
        <label><input type="radio" name="frequencia_act_fisica" [(ngModel)] = "formData.frequencia_act_fisica" value ="4 o más" class="mr-2">4 or more</label>
      </div>
    </div>

    <div class="bg-white p-4 rounded-lg shadow mt-4">
      <label class="block text-gray-700 font-semibold"> Do you consume alcohol?
      </label>
      <div class="flex gap-4">
        <label><input type="radio" name="consumo_alcohol" [(ngModel)] = "formData.consumo_alcohol" value ="Sí" class="mr-2">Yes</label>
        <label><input type="radio" name="consumo_alcohol" [(ngModel)] = "formData.consumo_alcohol" value ="No" class="mr-2">No</label>
      </div>
    </div>

    <div class="bg-white p-4 rounded-lg shadow mt-4">
      <label class="block text-gray-700 font-semibold"> If you consume alcohol, how often do you do so?
      </label>
      <div class="flex gap-4">
        <label><input type="radio" name="frecuencia_alcohol"  [(ngModel)] ="formData.frecuencia_alcohol" value ="Ocasionalmente" class="mr-2">Occasionally</label>
        <label><input type="radio" name="frecuencia_alcohol"  [(ngModel)] ="formData.frecuencia_alcohol" value ="Semanal" class="mr-2">Weekly</label>
        <label><input type="radio" name="frecuencia_alcohol"  [(ngModel)] ="formData.frecuencia_alcohol" value ="Diariamente" class="mr-2">Daily</label>
      </div>
    </div>



    <div class="bg-white p-4 rounded-lg shadow mt-4">
      <label class="block text-gray-700 font-semibold"> Do you smoke currently or have you smoked in the past?
      </label>
      <div class="flex gap-4">
        <label><input type="radio" name="fumar" [(ngModel)] ="formData.fumar" value ="Sí" class="mr-2">Yes</label>
        <label><input type="radio" name="fumar" [(ngModel)] ="formData.fumar" value ="No" class="mr-2">No</label>
      </div>
    </div>

    <div class="bg-white p-4 rounded-lg shadow mt-4">
      <label class="block text-gray-700 font-semibold"> Do you have overweight or obesity?
      </label>
      <div class="flex gap-4">
        <label><input type="radio" name="sobrepeso_obesidad" [(ngModel)] ="formData.sobrepeso_obesidad" value ="Sí" class="mr-2">Yes</label>
        <label><input type="radio" name="sobrepeso_obesidad" [(ngModel)] ="formData.sobrepeso_obesidad" value ="No" class="mr-2">No</label>
      </div>
    </div>

  </div>


  <!-- Sección 5:estilo de vida -->
  <div class="bg-gray-100 p-6 rounded-lg shadow-md max-w-4xl mx-auto mt-6">
    <h2 class="text-2xl font-semibold text-pink-600">Diet and Breast Cancer Risk</h2>

    <div class="bg-white p-4 rounded-lg shadow mt-4">
      <label class="block text-gray-700 font-semibold"> Do you consume foods high in saturated fats? (such as red meats, fried foods, processed products)?
      </label>
      <div class="flex gap-4">
        <label><input type="radio" name="grasas_saturadas" [(ngModel)]="formData.grasas_saturadas" value ="Diario" class="mr-2">Daily</label>
        <label><input type="radio" name="grasas_saturadas" [(ngModel)]="formData.grasas_saturadas" value ="Varias veces a la semana" class="mr-2">Several times a week</label>
        <label><input type="radio" name="grasas_saturadas" [(ngModel)]="formData.grasas_saturadas" value ="Rara vez" class="mr-2">Rarely</label>
        <label><input type="radio" name="grasas_saturadas" [(ngModel)]="formData.grasas_saturadas" value ="Nunca" class="mr-2">Never</label>
      </div>
    </div>

    <div class="bg-white p-4 rounded-lg shadow mt-4">
      <label class="block text-gray-700 font-semibold"> Do you consume foods rich in healthy fats? (such as avocados, nuts, olive oil, fatty fish)
      </label>
      <div class="flex gap-4">
        <label><input type="radio" name="grasas_saludables" [(ngModel)] ="formData.grasas_saludables" value="Diario" class="mr-2">Daily</label>
        <label><input type="radio" name="grasas_saludables" [(ngModel)] ="formData.grasas_saludables" value="Varias veces a la semana" class="mr-2">Several times a week</label>
        <label><input type="radio" name="grasas_saludables" [(ngModel)] ="formData.grasas_saludables" value ="Rara vez" class="mr-2">Rarely</label>
        <label><input type="radio" name="grasas_saludables" [(ngModel)] ="formData.grasas_saludables" value ="Nunca" class="mr-2">Never</label>
      </div>
    </div>

    <div class="bg-white p-4 rounded-lg shadow mt-4">
      <label class="block text-gray-700 font-semibold"> Do you have a diet rich in fresh fruits and vegetables?
      </label>
      <div class="flex gap-4">
        <label><input type="radio" name="fruta_verdura" [(ngModel)]= "formData.fruta_verdura" value ="Sí" class="mr-2">Yes</label>
        <label><input type="radio" name="fruta_verdura" [(ngModel)]= "formData.fruta_verdura" value ="No" class="mr-2">No</label>
      </div>
    </div>
    <div class="bg-white p-4 rounded-lg shadow mt-4">
      <label class="block text-gray-700 font-semibold"> Do you frequently consume ultra-processed or low-nutritional value foods? (such as cookies, snacks, soft drinks)
      </label>
      <div class="flex gap-4">
        <label><input type="radio" name="ultraprocesados" [(ngModel)]= "formData.ultraprocesados" value="Diario" class="mr-2">Daoly</label>
        <label><input type="radio" name="ultraprocesados" [(ngModel)]= "formData.ultraprocesados" value="Varias veces a la semana" class="mr-2">Several times a week</label>
        <label><input type="radio" name="ultraprocesados" [(ngModel)]= "formData.ultraprocesados" value ="Rara vez" class="mr-2">Rarely</label>
        <label><input type="radio" name="ultraprocesados" [(ngModel)]= "formData.ultraprocesados" value ="Nunca" class="mr-2">Never</label>
      </div>
    </div>

    <div class="bg-white p-4 rounded-lg shadow mt-4">
      <label class="block text-gray-700 font-semibold"> Do you incorporate fiber (from whole grains, legumes, fruits, and vegetables) into your daily diet?
      </label>
      <div class="flex gap-4">
        <label><input type="radio" name="incorporacion_fibra" [(ngModel)]= "formData.incorporacion_fibra" value="Sí" class="mr-2">Yes</label>
        <label><input type="radio" name="incorporacion_fibra" [(ngModel)]= "formData.incorporacion_fibra" value="No" class="mr-2">No</label>
      </div>
    </div>
  </div>

  <!-- Sección 5:estilo de vida -->
  <div class="bg-gray-100 p-6 rounded-lg shadow-md max-w-4xl mx-auto mt-6">
    <h2 class="text-2xl font-semibold text-pink-600">Medical Variables</h2>

      <div class="bg-white p-4 rounded-lg shadow mt-4">
        <label class="block text-gray-700 font-semibold"> Do you have any chronic diseases, such as hypertension or diabetes?
        </label>
        <div class="flex gap-4">
          <label><input type="radio" name="hipertension_diabetes" [(ngModel)]= "formData.hipertension_diabetes" value="Sí" class="mr-2">Yes</label>
          <label><input type="radio" name="hipertension_diabetes" [(ngModel)]= "formData.hipertension_diabetes" value="No" class="mr-2">No</label>
        </div>
      </div>

    <div class="bg-white p-4 rounded-lg shadow mt-4">
      <label class="block text-gray-700 font-semibold"> Do you have mammograms regularly?
      </label>
      <div class="flex gap-4">
        <label><input type="radio" name="mamografia" [(ngModel)] = "formData.mamografia" value="Sí" class="mr-2">Yes</label>
        <label><input type="radio" name="mamografia" [(ngModel)] = "formData.mamografia" value="No" class="mr-2">No</label>
      </div>
    </div>


    <div class="bg-white p-4 rounded-lg shadow mt-4">
      <label class="block text-gray-700 font-semibold"> If you have mammograms, how often do you have them?
      </label>
      <div class="flex gap-4">
        <label><input type="radio" name="tipo_tratamiento" [(ngModel)]="formData.tipo_tratamiento" value ="6 meses" class="mr-2">6 months</label>
        <label><input type="radio" name="tipo_tratamiento" [(ngModel)]="formData.tipo_tratamiento" value="1 año" class="mr-2">1 year</label>
        <label><input type="radio" name="tipo_tratamiento" [(ngModel)]="formData.tipo_tratamiento" value ="Otro" class="mr-2">Other</label>
      </div>
    </div>



    <div class="bg-white p-4 rounded-lg shadow mt-4">
      <label class="block text-gray-700 font-semibold"> Have you received radiation therapy in the chest area for any previous medical reason?
      </label>
      <div class="flex gap-4">
        <label><input type="radio" name="radioterapia_pecho" [(ngModel)] = "formData.radioterapia_pecho" value="Sí" class="mr-2">Yes</label>
        <label><input type="radio" name="radioterapia_pecho" [(ngModel)] = "formData.radioterapia_pecho" value="No" class="mr-2">No</label>
      </div>
    </div>
  </div>




  <div class="flex justify-center mt-6 mb-6 pb-6">
    <button type="submit" class="bg-pink-600 text-white px-6 py-2 rounded-lg shadow-md hover:bg-pink-700 transition">
      Send
    </button>
  </div>
</form>
