<button class="w-full group" [routerLink]="[router]">
  <div [routerLinkActive]="['bg-gray-3', 'dark:bg-gray-13', 'scale-110', 'font-semibold']"
      class="flex items-center gap-5 p-3 transition rounded-full l2xl:px-4 l2xl:py-3 w-fit
             group-hover:scale-110 group-hover:bg-gray-3 dark:group-hover:bg-gray-13
             shadow-lg group-hover:shadow-xl">
      <figure>
          <svg class="w-8 fill-white" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"
              aria-hidden="true">
              <g>
                  <path
                      d="M10.09 3.098L9.72 7h5.99l.39-4.089 1.99.187L17.72 7h3.78v2h-3.97l-.56 6h3.53v2h-3.72l-.38 4.089-1.99-.187.36-3.902H8.78l-.38 4.089-1.99-.187L6.77 17H2.5v-2h4.46l.56-6H3.5V7h4.21l.39-4.089 1.99.187zM14.96 15l.56-6H9.53l-.56 6h5.99z">
                  </path>
              </g>
          </svg>
      </figure>
      <div class="text-2xl font-semibold text-white">{{ label }}</div>
  </div>
</button>
