<div class="h-dvh">
  <div class="container mx-auto p-6 max-w-4xl">
    <h1 class="text-4xl font-bold text-pink-600 text-center">Recomendaciones para Pacientes con Diagnóstico y Prevención Positiva de Cáncer de Mama</h1>
  </div>

  <div class="mt-3 p-4 mb-4 bg-pink-50 border-l-4 border-pink-500 text-pink-700 rounded-lg shadow-md max-w-4xl mx-auto mt-6">
    <p class="font-medium">Recomendaciones Generales</p>
    <p>Es fundamental seguir ciertas recomendaciones para su bienestar.Estas recomendaciones son generales . Para más información y detalles específicos, le recomendamos acudir a su especialista indicado.</p>
  </div>

  <!-- Sección: Alimentación -->
  <div class="bg-gray-100 p-6 rounded-lg shadow-md max-w-4xl mx-auto mt-6">
    <h2 class="text-2xl font-semibold text-pink-600">Alimentación</h2>
    <p class="mt-4 text-gray-700 text-lg leading-relaxed">
      La nutrición es clave en el tratamiento contra el cáncer. El paciente debe seguir una dieta equilibrada para mejorar el rendimiento de los tratamientos y prevenir la desnutrición.
    </p>
    <ul class="list-disc pl-6 mt-4 text-gray-700 text-lg leading-relaxed">
      <li>Coma entre 4 y 5 veces al día, no se salte ninguna comida.</li>
      <li>Puede estimular su apetito con pequeñas cantidades antes de la comida principal.</li>
      <li>Considere la suplementación alimenticia en consulta con su especialista.</li>
      <li>Coma fruta y verdura diaria, preferiblemente de temporada y local.</li>
      <li>Aporte proteico extra con lácteos desgrasados y sin azúcar.</li>
      <li>Incorpore cereales, granos y sus derivados.</li>
      <li>Consuma entre 2-3 litros de líquidos diarios.</li>
      <li>Evite la soja y sus derivados, así como alimentos ricos en sal, azúcares y grasas saturadas.</li>
      <li>Priorice alimentos preparados de forma casera, evitando procesados. Use aceite de oliva virgen extra (AOVE).</li>
    </ul>
    <p class="mt-4 text-gray-700 text-lg leading-relaxed">
      Recuerde no obsesionarse con la alimentación. Un equilibrio y variedad nutricional, acompañado de ejercicio moderado, es lo esencial.
    </p>
    <p class="mt-4 text-pink-700">
      <a href="https://ico.gencat.cat/web/.content/minisite/ico/ciutadans/documents/arxius/Recomendaciones-dietetico-culinarias-durante-el-tratamiento-del-cancer-de-mama.pdf
https://www.comunidad.madrid/sites/default/files/doc/80.recomendaciones_generales_oncologia.pdf
" target="_blank"> Para más información sobre nutrición, consulte aquí</a>.
    </p>
  </div>

  <!-- Sección: Actividad Física -->
  <div class="bg-gray-100 p-6 rounded-lg shadow-md max-w-4xl mx-auto mt-6">
    <h2 class="text-2xl font-semibold text-pink-600">Actividad Física</h2>
    <p class="mt-4 text-gray-700 text-lg leading-relaxed">
      El ejercicio regular fortalece la condición física y mental del paciente, ayudando a evitar algunos efectos secundarios del tratamiento.
    </p>
    <ul class="list-disc pl-6 mt-4 text-gray-700 text-lg leading-relaxed">
      <li>Realice al menos 30 minutos de actividad física diaria.</li>
      <li>Evite la inactividad física y retome sus actividades cotidianas después del diagnóstico.</li>
      <li>Incluya ejercicios aeróbicos, de flexibilidad, estiramientos y de resistencia.</li>
      <li>Prefiera actividades al aire libre que fomenten la interacción social.</li>
    </ul>
    <p class="mt-4 text-pink-700">
       <a href="https://www.breastcancer.org/es/organizar-la-vida/ejercicio?gad_source=1&gclid=Cj0KCQiAhbi8BhDIARIsAJLOludVow63d42L36l_4BdkRWfK9Xs69BJLJgEREn5hog3-PjP31IDOjRkaAgiWEALw_wcB
" target="_blank">Más sobre la importancia del ejercicio puede encontrarse aquí</a>.
    </p>
  </div>

  <!-- Sección: Prevención de Infecciones -->
  <div class="bg-gray-100 p-6 rounded-lg shadow-md max-w-4xl mx-auto mt-6">
    <h2 class="text-2xl font-semibold text-pink-600">Prevención de Infecciones</h2>
    <p class="mt-4 text-gray-700 text-lg leading-relaxed">
      El tratamiento puede disminuir las defensas del paciente, por lo que es fundamental tomar medidas para evitar infecciones.
    </p>
    <ul class="list-disc pl-6 mt-4 text-gray-700 text-lg leading-relaxed">
      <li>Manténgase alerta ante traumatismos o heridas en el cuerpo y aplique higiene adecuada.</li>
      <li>Mantenga su entorno limpio.</li>
      <li>Lávese las manos con frecuencia, y recuerde que esto es importante también para las personas a su alrededor.</li>
    </ul>
  </div>

  <!-- Sección: Cuidados Personales -->
  <div class="bg-gray-100 p-6 rounded-lg shadow-md max-w-4xl mx-auto mt-6">
    <h2 class="text-2xl font-semibold text-pink-600">Cuidados Personales</h2>

    <!-- Higiene Bucodental -->
    <div class="mt-6">
      <h3 class="text-xl font-semibold text-pink-600">Higiene Bucodental</h3>
      <p class="mt-4 text-gray-700 text-lg leading-relaxed">
        Mantener una buena higiene dental es crucial para evitar infecciones orales que puedan complicar el tratamiento.
      </p>
      <ul class="list-disc pl-6 mt-4 text-gray-700 text-lg leading-relaxed">
        <li>Acuda a revisiones periódicas.</li>
        <li>Adopte una higiene suave, evitando dentífricos con irritantes como saborizantes o alcohol.</li>
        <li>Mantenga una higiene bucodental diaria.</li>
      </ul>
      <p class="mt-4 text-pink-700">
        <a href="https://www.eau-thermale-avene.es/tu-piel/tu-piel-durante-el-cancer/tu-piel-durante-los-tratamientos-contra-el-cancer/cuidar-la-piel-cada-dia-durante-el-tratamiento-del-cancer/como-combatir-la-sequedad-de-la-piel-durante-el-tratamiento-contra-el-cancer
https://www.centredentalcastellsague.cat/salut-dental-i-noticies/cancer-de-mama-i-salut-bucal/ " target="_blank"> Para más información sobre cuidado bucal, visite aquí</a>.
      </p>
    </div>

    <!-- Cuidado de la Piel -->
    <div class="mt-6">
      <h3 class="text-xl font-semibold text-pink-600">Cuidado de la Piel</h3>
      <p class="mt-4 text-gray-700 text-lg leading-relaxed">
        La sequedad de la piel es común debido a los tratamientos oncológicos. Aquí le dejamos algunos cuidados:
      </p>
      <ul class="list-disc pl-6 mt-4 text-gray-700 text-lg leading-relaxed">
        <li>Use productos hidratantes y evite aquellos que contengan alcohol o fragancias.</li>
        <li>Adopte una higiene suave para su piel.</li>
        <li>No olvide cuidar su cuero cabelludo.</li>
      </ul>
      <p class="mt-4 text-pink-700">
        <a href="https://www.eau-thermale-avene.es/tu-piel/tu-piel-durante-el-cancer/tu-piel-durante-los-tratamientos-contra-el-cancer/cuidar-la-piel-cada-dia-durante-el-tratamiento-del-cancer/como-combatir-la-sequedad-de-la-piel-durante-el-tratamiento-contra-el-cancer
https://www.centredentalcastellsague.cat/salut-dental-i-noticies/cancer-de-mama-i-salut-bucal/ " target="_blank"> Para más información sobre cuidado bucal, visite aquí</a>.
      </p>
    </div>

    <!-- Control de Peso -->
    <div class="mt-6">
      <h3 class="text-xl font-semibold text-pink-600">Control de su Peso</h3>
      <p class="mt-4 text-gray-700 text-lg leading-relaxed">
        Monitoree su peso y estado físico general semanalmente. Los cambios físicos pueden indicar la ineficiencia del tratamiento o el avance de la enfermedad.
      </p>
      <p class="mt-4 text-pink-700">
        Información adicional sobre el control de peso se encuentra <a href="https://www.cancer.gov/about-cancer/treatment/side-effects/weight-loss" target="_blank">aquí</a>.
      </p>
    </div>

    <!-- Evitar Drogas y Tabaco -->
    <div class="mt-6">
      <h3 class="text-xl font-semibold text-pink-600">Evite el Tabaco y Drogas</h3>
      <p class="mt-4 text-gray-700 text-lg leading-relaxed">
        Es fundamental mantenerse alejado del tabaco y otras sustancias perjudiciales para la salud.
      </p>
    </div>
  </div>

  <!-- Motivos de Consulta Urgente -->
  <div class="bg-gray-100 p-6 rounded-lg shadow-md max-w-4xl mx-auto mt-6">
    <h2 class="text-2xl font-semibold text-pink-600">Motivos de Consulta Urgente</h2>
    <ul class="list-disc pl-6 mt-4 text-gray-700 text-lg leading-relaxed">
      <li>Fiebre (temperatura igual o superior a 38º).</li>
      <li>Hematomas o hemorragias sin traumatismo previo.</li>
      <li>Reacción alérgica.</li>
      <li>Vómitos o diarreas intensas.</li>
      <li>Falta de aire o tos persistente.</li>
      <li>Dolor abdominal o torácico intenso.</li>
    </ul>
  </div>

  <!-- Esperanza y Apoyo -->
  <div class="bg-gray-100 p-6 rounded-lg shadow-md max-w-4xl mx-auto mt-6">
    <h2 class="text-2xl font-semibold text-pink-600 text-center">Esperanza y Apoyo</h2>
    <p class="mt-4 text-gray-700 text-lg leading-relaxed text-center">
      Recuerde que el diagnóstico de cáncer de mama no es el fin. Existen numerosas opciones de tratamiento y apoyo, lo que permite mantener la esperanza y mejorar la calidad de vida.
    </p>
    <p class="mt-4 text-pink-700">
      <a href="https://www.cdc.gov/cancer-survivors/es/caregivers/helping-cancer-survivors-stay-healthy.html
https://www.ruberinternacional.es/es/hospital/guia-paciente-cancer-salud-recomendaciones-consejos-informa.ficheros/3336664-Gu%C3%ADa%20de%20Recomendaciones%20para%20pacientes%20oncol%C3%B3gicos%20de%20Ruber%20Internacional%20.pdf " target="_blank"> Para más información sobre cuidado bucal, visite aquí</a>.
    </p>
  </div>
  <div class="h-16"></div> <!--espacio del final-->
</div>

